<div class="votes">
  <div class="in-favor inline-block">
    <%= button_to vote_debate_path(debate, value: "yes"),
        class: "like #{voted_classes[:in_favor]}",
        title: t("votes.agree"),
        method: "post",
        remote: true,
        "aria-label": agree_aria_label,
        "aria-pressed": voted_up?,
        disabled: !current_user do %>
      <span class="show-for-sr"><%= t("votes.agree") %></span>
    <% end %>
    <span class="percentage"><%= votes_percentage("likes", debate) %></span>
  </div>

  <div class="against inline-block">
    <%= button_to vote_debate_path(debate, value: "no"),
        class: "unlike #{voted_classes[:against]}",
        title: t("votes.disagree"),
        method: "post",
        remote: true,
        "aria-label": disagree_aria_label,
        "aria-pressed": voted_down?,
        disabled: !current_user do %>
      <span class="show-for-sr"><%= t("votes.disagree") %></span>
    <% end %>
    <span class="percentage"><%= votes_percentage("dislikes", debate) %></span>
  </div>

  <%= render Shared::ParticipationNotAllowedComponent.new(debate, cannot_vote_text: cannot_vote_text) %>

  <span class="total-votes">
    <%= t("debates.debate.votes", count: debate.votes_score) %>
  </span>
</div>
